<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
    </ion-buttons>
    <ion-title>Groupe</ion-title>
    <ion-button color="warning" routerLink="/creer-groupe">Créer un groupe</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      La liste des groupes
    </ion-card-header>
    <ion-list>
      date
      </ion-list>
      <ion-button routerLink="/groupe-det">voir plus</ion-button>
      </ion-card>

      <ion-card>
        <ion-card-header>
          liste des groupes
        </ion-card-header>
        <ion-list>
          date
          </ion-list>
          </ion-card>

          <ion-card>
            <ion-card-header>
              La liste des groupes
            </ion-card-header>
            <ion-list>
              dates
              </ion-list>
              </ion-card>

</ion-content>
