<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
    </ion-buttons>
    <ion-title>Génerer un groupe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <input type="radio" id="huey" name="drone" value="huey"
           checked>
    <label for="huey">par ordre</label>

    <input type="radio" id="aleatoire" name="drone" value="aleatoire">
    <label for="aleatoire">Aleatoire</label>
  </div>

  <ion-item >
    <ion-label color="black">Nombre/groupe</ion-label>
    <ion-input color="black" type="name" ></ion-input>
  </ion-item>

  <ion-button expand="block" shape="round">CREER</ion-button>
</ion-content>

