<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/travaux" text="Accueil"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter un travail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item >
    <ion-label color="black">NOM</ion-label>
    <ion-input color="black" type="name" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="black">Type</ion-label>
    <ion-input color="black" type="name" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="black">Date debut</ion-label>
    <ion-input color="black" type="name" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="black">Date fin</ion-label>
    <ion-input color="black" type="name" ></ion-input>
  </ion-item>

  <ion-button expand="block" shape="round">AJOUTER</ion-button>
</ion-content>
