<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/groupe" text="Accueil"></ion-back-button>
    </ion-buttons>
    <ion-title>Nom Groupe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" shape="round">EXPORTER</ion-button>
  <ion-card>
    <ion-card-header>
      groupe1
    </ion-card-header>
    <ion-list>
      Membre
      </ion-list>
      </ion-card>
      <ion-card>
        <ion-card-header>
          groupe1
        </ion-card-header>
        <ion-list>
          Membre
          </ion-list>
          </ion-card>
          <ion-card>
            <ion-card-header>
              groupe1
            </ion-card-header>
            <ion-list>
              Membre
              </ion-list>
              </ion-card>
</ion-content>
