<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/travaux" text="Accueil"></ion-back-button>
    </ion-buttons>
    <ion-title>Travail détails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
Nom travail
<ion-card>
  <ion-card-header>
    groupe1
  </ion-card-header>
  <ion-list>
    Membre
    </ion-list>
    </ion-card>
    <ion-card>
      <ion-card-header>
        groupe2
      </ion-card-header>
      <ion-list>
        Membre
        </ion-list>
        </ion-card>
        <ion-button routerLink="/groupe">AFFECTER</ion-button>
</ion-content>
