
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
    </ion-buttons>
    <ion-title>TRAVAUX</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button color="warning" routerLink="/creer-trav">Créer un travail</ion-button>
  <ion-card>
    <ion-card-header>
      La liste des travaux
    </ion-card-header>
    <ion-list>
      Saoudatou Diarra <ion-button>
        <ion-icon name="close"></ion-icon>
        </ion-button>
        <ion-button>
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button color="warning" routerLink="/travail-det">voir plus</ion-button>
      <br>
      Saoudatou Diarra <ion-button>
        <ion-icon name="close"></ion-icon>
        </ion-button>
        <ion-button>
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button color="warning" routerLink="/travail-det">voir plus</ion-button>
      <br>
      Saoudatou Diarra <ion-button>
        <ion-icon name="close"></ion-icon>
        </ion-button>
        <ion-button>
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button color="warning" routerLink="/travail-det">voir plus</ion-button>
      <br>
      Saoudatou Diarra <ion-button>
        <ion-icon name="close"></ion-icon>
        </ion-button>
        <ion-button>
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button color="warning" routerLink="/travail-det">voir plus</ion-button>
    </ion-list>
  </ion-card>
</ion-content>
